* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {

    background: linear-gradient(135deg,#0f0c29,#302b63,#24243e);

    color: white;
}

/* Navbar */

nav {

    position: sticky;

    top: 0;

    display: flex;

    justify-content: space-between;

    padding: 20px 60px;

    background: rgba(0,0,0,0.3);

    backdrop-filter: blur(10px);

}

.logo {

    color: #ff4ecd;

    font-size: 26px;

}

nav ul {

    display: flex;

    list-style: none;

}

nav ul li {

    margin-left: 20px;

}

nav ul li a {

    text-decoration: none;

    color: white;

}

nav ul li a:hover {

    color: #ff4ecd;

}

/* Hero */

.home {

    display: flex;

    justify-content: space-around;

    align-items: center;

    padding: 80px;

}

.home-text h1 {

    font-size: 42px;

}

.home-text span {

    color: #ff4ecd;

}

.home-text p {

    margin-top: 10px;

    color: #ccc;

}

/* Button */

.btn {

    display: inline-block;

    margin-top: 15px;

    padding: 12px 25px;

    background: linear-gradient(45deg,#ff4ecd,#7c3aed);

    border-radius: 25px;

    color: white;

    text-decoration: none;

}

.btn:hover {

    transform: scale(1.1);

}

/* Image */

.home-img img {

    width: 250px;

    border-radius: 50%;

    border: 4px solid #ff4ecd;

}

/* Sections */

.section {

    padding: 60px;

}

/* Card */

.card {

    background: rgba(255,255,255,0.05);

    padding: 30px;

    border-radius: 15px;

    margin: 40px;

}

/* Skills */

.skill {

    margin: 20px;

}

.progress {

    height: 10px;

    background: rgba(255,255,255,0.1);

}

.progress-bar {

    height: 10px;

    background: linear-gradient(45deg,#ff4ecd,#7c3aed);

}

.html {

    width: 90%;

}

.css {

    width: 80%;

}

.js {

    width: 60%;

}

.c {

    width: 75%;

}

/* Projects */

.projects-container {

    display: flex;

    flex-wrap: wrap;

    gap: 20px;

}

.project-card button {

    margin-top: 12px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 2px solid transparent;

    background: linear-gradient(#24243e, #24243e) padding-box,
                linear-gradient(45deg,#ff4ecd,#7c3aed) border-box;

    color: white;

    cursor: pointer;

    transition: 0.3s;

}

.project-card button:hover {

    background: linear-gradient(45deg,#ff4ecd,#7c3aed);

}

/* Footer */

footer {

    text-align: center;

    padding: 20px;

    background: rgba(0,0,0,0.3);

}